body {
  background-color: #061949;
}

h1,
h2,
h3,
h4 {
  color: rgb(255, 255, 255);
}

#messagePane {
  border: 2px;
  background-color: #D0DDFF;
  border-radius: 5px;
  padding: 12px;

}


h5 {
  color: rgb(0, 0, 0);
}

.join_room_response,
.left_room_response {
  background-color: transparent;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
}

.chat_message {
  height: fit-content;
  width: 100px;
  background-color: #2C67FF;
  font-size: 120%;
  padding: 10px;
  margin-top: 30px;
  border-radius: 3px;
}


table#game_board {
  background-color: #f7f7f7;
  border: 3px solid black;
  margin: 0px;
  padding: 0px;
}

table#game_board td {
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #030f2e;
  border: #030f2e;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #0A2978;
  border: #0A2978;
}

td.hovered_over:hover {
  background-image: url('/assets/images/hover.gif');
}

.sum {
  background-color: #ffffff;
  border-radius: 10px;
}